<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kontaktformular</title>
    <script
            src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" th:href="@{kontaktform.css}" />

</head>
<body>
<div class="container">
    <span class="big-circle"></span>
    <img src="img/shape.png" class="square" alt="" />
    <div class="form">
        <div class="contact-info">
            <h3 class="title">Lad os komme i kontakt</h3>
            <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                dolorum adipisci recusandae praesentium dicta!
            </p>

            <div class="info">
                <div class="information">
                    <img src="img/location.png" class="icon" alt="" />
                    <p>Indsæt adresse her</p>
                </div>
                <div class="information">
                    <img src="img/email.png" class="icon" alt="" />
                    <p>Indsæt@Mail.her</p>
                </div>
                <div class="information">
                    <img src="img/phone.png" class="icon" alt="" />
                    <p>12345678</p>
                </div>
            </div>

            <div class="social-media">
                <p>Find os her :</p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/EasyjobRekruttering">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="contact-form">
            <span class="circle one"></span>
            <span class="circle two"></span>

            <form action="https://formspree.io/f/xleowzrj" method="post">
                <h3 class="title">Kontakt os</h3>
                <div class="input-container">
                    <input type="text" name="name" class="input" />
                    <label for="">Brugernavn</label>
                    <span>Brugernavn</span>
                </div>
                <div class="input-container">
                    <input type="email" name="email" class="input" />
                    <label for="">Email</label>
                    <span>Email</span>
                </div>
                <div class="input-container">
                    <input type="tel" name="phone" class="input" />
                    <label for="">Telefon</label>
                    <span>Telefon</span>
                </div>
                <div class="input-container textarea">
                    <textarea name="message" class="input"></textarea>
                    <label for="">Besked</label>
                    <span>Besked</span>
                </div>
                <input type="submit" value="Send" class="btn" />
            </form>
        </div>
    </div>
</div>

<script src="app.js"></script>
</body>
</html>

