<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kontakt medarbejder</title>

    <meta name="description" content="Vikar rekruttering">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Easyjob">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>

<header>

</header>

<main>

    <div class="container">

        <table class="table table-striped">

            <thead class="thead-dark">

            <tr>
                <th scope="col">ID</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col"></th>
            </tr>

            </thead>

            <tbody>
            <tr th:each="emp : ${list}">
                <th th:text="${emp.ID}"></th>
                <td th:text="${emp.firstName}"></td>
                <td th:text="${emp.lastName}"></td>
                <td>
                    <a th:href="@{'/empprofile' + ${emp.ID}}" class="btn btn-primary">Kontakt</a>
                </td>

                <!--                <form id="slet">-->


                <!--                    <td>-->
                <!--                        <input type="text" id="title" th:value="${stilling.title}" class="form-control">-->
                <!--                    </td>-->

                <!--                    <td>-->
                <!--                        <input type="number" id="ID" th:value="${stilling.ID}">-->

                <!--                        <button type="submit" onclick="preventdelete($('#slet'))" class="btn btn-danger">Slet</button>-->
                <!--                    </td>-->

                <!--                </form>-->
            </tr>

            </tbody>


        </table>

        <div>
            <a href="/opretstilling" class="btn btn-primary">Opret en ny stilling</a>
        </div>

    </div>

</main>

</body>
</html>